<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:sqlserver://localhost;database=anticafeM3205Gudauskayte;integratedSecurity=true</property>
        <property name="connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
        <property name="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</property>
        <property name="hibernate.current_session_context_class">thread</property>

        <mapping class="DAL.Entity.AnticafeEntity"/>
        <mapping class="DAL.Entity.BoxWithGameEntity"/>
        <mapping class="DAL.Entity.CustomerEntity"/>
        <mapping class="DAL.Entity.GameEntity"/>
        <mapping class="DAL.Entity.RegularCustomersEntity"/>
        <mapping class="DAL.Entity.CurrentCusomersAndGamesEntity"/>
        <mapping class="DAL.Entity.GamesAndDecriptionEntity"/>
        <mapping class="DAL.Entity.GamesToBuyEntity"/>
        <mapping class="DAL.Entity.Top10GamesEntity"/>
        <mapping class="DAL.Entity.CurrentCustomersEntity"/>

        <!-- <property name="connection.username"/> -->
        <!-- <property name="connection.password"/> -->

        <!-- DB schema will be updated if needed -->
        <!-- <property name="hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>